model/
__pycache__
log/
nohup.out
res/
temp.py
Temp/
input_*_neg_preprocess.json?*
input_train_valk*_neg_preprocess.json
input_train_valk*_formulaes.json
input_train_valk*_neg_fml.json
input_train_valk*_neg.json
input_train_valk*_unlabel.json
example.png
example.dot
graph/
Tensorboard/
DECMOL/result/
DECMOL/preprocessing/
DECMOL/event_logs/
DECMOL/data_event/
DECMOL/generalization/
DECMOL/RPNI/
DECMOL/EDSM/
DECMOL/MDL/
DECMOL/LSTAR/
DECMOL/DeclareMiner/
DSM/
DICE/
DECMOL/sublogs
*_temp/
temp.sh
.vscode
datasets/
data_gen/
gen_data.sh
data_copy.py
run*.sh
data_baseline/
data_synthesis
draw_issta25.py
*.pdf
